<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Assingment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

</head>
<body>
    <h3>Index.ejs</h3>
    <form action="/users" method="post">
        <label for="Name">Name</label>
        <input type="text" name='name'>
        <br>
        Quote:
        <textarea name="age" rows="8" cols="40"></textarea>
        <input type="submit" value="Add">
    </form>
</body>
</html>