<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Assingment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>

    <div class="container">
      <h5>New</h5>
      <a href="/new">New</a><a href="/">Home</a>
      <form action="/mongooses" method="post">
          <label for="Name">Name</label>
          <input type="text" name='name'>
          <br>
          <label for="Age">Age</label>
          <textarea name="age" rows="8" cols="40"></textarea>
          <br>
          <input type="submit" value="Add">
          <hr>
      </form>
      <div>
        <% for (const user of users) { %>
          <p>Author: <%= user.name %></p>
          <p>Age: <%= user.age %></p>
          <hr>
        <% } %>
      </div>
    </div>
</body>
</html>