<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
   <link rel="stylesheet" href="http://localhost:8000/styles/main.css" >
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h3>Garfield</h3>

    <% for (var x in garfield) { %>
      <h5>Favorite Food: <%= garfield[x].favorite_food %></h5>
      <h5>Hobbies: <%= garfield[x].hobbies %></h5>
      <p>About: <%= garfield[x].about %></p>
      <hr>
  <% } %>


  </div>
</body>
</html>