<div>
  <div>
    <h3>Welcome to {{ appTitle }}</h3>
    <div>
      <button (click)="getTasksFromService()">Get All Tasks</button>
      <p *ngFor="let task of tasks">
        {{ task.title }} - {{ task.description }}
        <button (click)="updateTask(task)">Edit</button>
        <button (click)="deleteTask(task._id)">Delete</button>

        <!-- added for nested components -->
        <button (click)="taskToShow(task._id)">Show</button>
        <!-- end add -->
      </p>
    </div>

    <div *ngIf="newTask2">
      <h2>Edit a task</h2>
      <form (submit)="updateSubmit()">
        <p>{{ newTask2 | json }}</p>
        Title:
        <input
          type="text"
          name="newTask.title"
          [(ngModel)]="newTask2.title"
        /><br />
        Description:<input
          type="text"
          name="newTask.description"
          [(ngModel)]="newTask2.description"
        /><br />
        <input type="submit" value="Update Task" />
      </form>
    </div>
  </div>
</div>
<form (submit)="onSubmit()">
  <!-- use the json pipe to see how newTask changes in real time -->
  <p>{{ newTask | json }}</p>
  Task Title:
  <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
  Task Description:
  <input
    type="text"
    name="newTask.description"
    [(ngModel)]="newTask.description"
  />
  <input type="submit" value="Create Task" />
</form>

<!-- working on nested components -->

<app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task>
