<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
    <% for (const user of users) { %>
        <p>Author: <%= user.name %></p>
        <p>Quote: <%= user.quote %></p>
        <hr>
      <% } %>
</div>
</body>
</html>